* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, "Times New Roman", Helvetica, serif;
  color: #ffffff;
}

$primary: #3c91e6;
$secondary: #46237a;
$background: #95bf8f;
$third: #251605;

html,
body {
  background-color: $background;
  min-height: 100vh;
}

.border {
  border: 2px solid $third;
  border-radius: 15px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainTable {
  margin: 10px auto 0px auto;
  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  .tableAll {
    overflow: auto;
    width: 75vw;
    height: 50vh;
    table {
      width: 100%;
      text-align: center;
      border-spacing: 0;
      border-collapse: collapse;
      tbody {
        tr:nth-child(even) {
          background-color: $primary;
        }
        tr:nth-child(odd) {
          background-color: $secondary;
        }
      }
      td,
      th {
        padding: 15px 0;
        border: none;
        border-spacing: 0;
        min-width: 110px;
      }
      th:nth-child(1),
      td:nth-child(1) {
        min-width: 200px;
      }

      thead {
        background-color: $third;
      }
    }
  }
}

.sideMenu {
  display: flex;
  flex-direction: column;
  @extend .border;
  background-color: $primary;
  margin: 10px 10px 10px 0;
  min-width: 200px;
  button {
    padding: 5px;
    margin: 5px;
    height: 40px;
    font-size: 1.5em;
    font-weight: bold;
    background-color: $primary;
    @extend .border;
    &:hover,
    &:focus,
    &:active,
    &.active {
      cursor: pointer;
      background-color: $secondary;
    }
  }
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $primary;
  border-bottom: 2px solid $third;
  height: 50px;
  margin-bottom: 10px;
  z-index: 1;
  &Link {
    text-decoration: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  li {
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  p {
    padding: 10px;
  }
}

.search {
  @extend .border;
  min-width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
  padding: 10px;
  margin-bottom: 10px;
  input {
    @extend .border;
    background-color: $secondary;
    color: #ffffff;
    min-height: 30px;
    padding: 5px;
    &:hover,
    &:focus {
      padding: 10px;
    }
  }
}

.countryName {
  text-align: center;
}

.totalCases {
  @extend .border;
  background-color: $primary;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .statBox {
    background-color: $secondary;
    @extend .border;
    margin: 5px;
    flex: 1;
    min-width: 300px;
  }
}

.active {
  background-color: rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: $primary;
  border-top: 2px solid $third;
  height: 50px;
}

.rsm-svg {
  display: inline-block;
  vertical-align: middle;
  max-height: 85vh;
  min-width: 98vw;
}

.worldMap,
.home,
.charts,
.news {
  flex: 1;
}

input {
  color: $third;
}

.home p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chartContainer {
  justify-content: center;
  background-color: $primary;
  height: 400px;
  max-width: 600px;
  margin: 10px;
  @extend .border;
  position: relative;
  z-index: 0;
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.news {
  max-width: 900px;
  margin: 10px auto 10px auto;
}

.newsLine {
  display: flex;
  margin: 10px;
  background-color: $secondary;
  @extend .border;
  border-radius: 15px;
  text-decoration: none;

  img {
    margin: 5px;
    width: 150px;
    height: 150px;
  }
  h2 {
    margin: 5px;
    border-bottom: 2px solid $primary;
  }
  p {
    margin: 5px;
  }
  &:hover,
  :focus {
    h2 {
      color: $primary;
    }
  }
}

.newsDate {
  text-align: right;
}

.newsImg {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 890px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 75vw;
  }
}

@media only screen and (max-width: 890px) {
  .mainContainer {
    display: flex;
    flex-direction: column;
  }
  .sideMenu {
    margin-right: 0;
  }
  .mainTable {
    .tableAll {
      width: 100%;
    }
  }
  .totalCases {
    div {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      p {
        font-size: 1em;
        margin: 0;
      }
    }
  }
  .search {
    h2 {
      font-size: 1em;
    }
  }
  .newsLine {
    img {
      margin: 0;
      width: 0;
      height: 0;
    }
  }
}
@media only screen and (max-width: 620px) {
  .totalCases {
    .statBox {
      min-width: 200px;
    }
  }
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 16px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #ffffff;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: $secondary;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  z-index: 2;
}

/* General sidebar styles */
.bm-menu {
  background: $third;
  padding-top: 2.5em;
  font-size: 1.15em;
  border-radius: 15px;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #ffffff;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980b9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $primary;
  width: 99%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content button {
  color: #ffffff;
  text-decoration: none;
  width: 98%;
  display: block;
  text-align: center;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
