* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: Arial, "Times New Roman", Helvetica, serif;
  color: #ffffff;
}

.position {
  max-width: 760px;
  min-width: 500px;
  margin: 10px auto 10px auto;
  padding: 10px;
}

.border {
  border: 2px solid #ffffff;
  border-radius: 15px;
}

body {
  background-color: #ababab;
}
.mainTable {
  @extend .position;
  overflow-x: auto;
}

table {
  width: 100%;
  margin: 10px 0;
  text-align: center;
  border-spacing: 0;
  border-collapse: collapse;
  thead {
    background-color: #000000;
  }
  tbody {
    tr:nth-child(even) {
      background-color: #545454;
    }
    tr:nth-child(odd) {
      background-color: #363636;
    }
  }
  th {
    padding: 15px 0;
    border: none;
    border-spacing: 0;
  }
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #363636;
  height: 50px;
  border-bottom: 2px solid #ffffff;
  &Link {
    text-decoration: none;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  li {
    :hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
  p {
    padding: 10px;
  }
}

.search {
  @extend .position;
  @extend .border;
  min-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #545454;
}

.countryName {
  text-align: center;
}

.totalCases {
  position: sticky;
  top: 100px;
  max-width: 500px;
  @extend .border;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #545454;
  text-align: center;
  ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #363636;
    @extend .border;
    min-width: 275px;
  }
  li {
    list-style: none;
  }
}

.mainContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.sideBar {
  min-width: 300px;
  max-width: 400px;
}

.active {
  background-color: rgba(0, 0, 0, 0.3);
}
